.genre-filter {
  padding: 1px;
  background-color: #484848;
}

.movie-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

.MovieData {
  margin-top: -10px;
}

.movie-list {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.year-group {
  margin-bottom: 20px;
  margin-left: 100px;
}

.year-heading {
  font-size: 25px;
  color: white;
  margin-bottom: 0px;
  margin-left: 10px;
}

.movies-in-year {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  width: 100%;
  max-width: 299px; 
  margin: 10px;
  background: #333;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-poster {
  width: 100%;
  height: 340px;
  display: block;
}

.movie-info {
  padding: 10px;
}

.movie-title {
  font-size: 18px;
  margin: 5px 0;
}

.movie-rating {
  font-size: 14px;
  color: #ccc;
  margin: 5px 0;
}

.genre-buttons {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.genre-button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.red-heading {
  color: red;
}

.genre-buttons-container {
  overflow-x: auto; /* Enable horizontal scrolling */
}

.genre-button.active {
  background-color: red;
  color: white;
}

/* Media Queries */
@media (max-width: 1024px) {
  .year-group {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .movie {
    max-width: 44%;
  }
  .movies-in-year {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
  }
  .movie-poster {
    height: 200px;
  }
  .movie-title {
    font-size: 16px;
  }
  .year-group {
    margin-left: 0px;
  }
  .year-heading {
    font-size: 24px;
    color: white;
    margin-bottom: 0px;
    margin-left: 10px;
  }
  .genre-buttons::-webkit-scrollbar {
    display: none;
  }
  .genre-buttons {
    -ms-overflow-style: none;
    margin-left: -10px;
  }
}

@media (max-width: 480px) {
  .movies-in-year {
    /* justify-content: space-between; */
  }
  .movie {
    max-width: 48%; /* Ensures two movies per row on mobile */
    margin: 1%;
  }
  .movie-poster {
    height: 150px;
  }
  .movie-title {
    font-size: 14px;
  }
  .year-heading {
    font-size: 20px;
  }
}


